@mixin clearfix {
    // hack for floats when there is 0 height
    // append a pseudo element to the end of the element to clear the floats
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}